.center {
  text-align: center;
}

.blue {
  background-color: blue;
  color: white;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

.purple {
  background-color: purple;
}

.grey {
  background-color: grey;
}